<header class="navbar">
  <div routerLink="/" class="logo">
    <img src="/assets/logo.svg" alt="Logo Pizza Hut">
  </div>
  <button class="menu-toggle" (click)="toggleMenu()" aria-label="Menú">&#9776;</button>
  <ul class="nav-links" [class.open]="menuAbierto">
    <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/especialidades">Especialidades</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
    <li><a routerLink="/contactar">Contactar</a></li>
    <li><a routerLink="/promos">Promos</a></li>
    <li>
  <a routerLink="/carrito">Carrito ({{ cantidad }})</a>
</li>

  </ul>
</header>
