<footer class="site-footer">
  <div class="footer-links">
    <div class="block">
      <h4>Menú</h4>
      <ul>
        <li><a href="#">Pizza</a></li>
        <li><a href="#">Melts</a></li>
        <li><a href="#">Wings</a></li>
        <li><a href="#">Sides</a></li>
        <li><a href="#">Pasta</a></li>
        <li><a href="#">Desserts</a></li>
        <li><a href="#">Drinks</a></li>
        <li><a href="#">Deals</a></li>
      </ul>
    </div>
    <div class="block">
      <h4>Mi Cuenta</h4>
      <ul>
        <li><a href="#">Crear cuenta</a></li>
        <li><a href="#">Iniciar sesión</a></li>
      </ul>
    </div>
    <div class="block">
      <h4>Sobre Nosotros</h4>
      <ul>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Franquicias</a></li>
      </ul>
    </div>
    <div class="block">
      <h4>Atención al Cliente</h4>
      <ul>
        <li><a href="/contactar">Contacto</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
    <div class="block">
      <h4>Legal</h4>
      <ul>
        <li><a href="#">Privacidad</a></li>
        <li><a href="#">Términos de uso</a></li>
        <li><a href="#">Do Not Sell My Information</a></li>
        <li><a href="#">Accesibilidad</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-note">
    <p>
      *El cargo de entrega no es propina para el repartidor. Pueden aplicarse cargos adicionales por queso extra, tipo de corteza o ingredientes adicionales.
    </p>
    <p>
      ©2025 Pizza Hut, LLC. Todos los derechos reservados.
    </p>
  </div>
</footer>
